In [65]:
import os
import pandas as pd
import networkx as nx
from tqdm.notebook import tqdm

In [63]:
stat = []
for fname in sorted(os.listdir('./gml_graphs')):
    print(fname)
    G = nx.read_gml(f'./gml_graphs/{fname}')
    stat.append({
        'name': fname[:-4],
        'n_nodes': G.number_of_nodes(),
        'n_edges': G.number_of_edges(),
        'n_classes': len(set(nx.get_node_attributes(G, 'gt').values()))
    })

as.gml
citeseer.gml
cora.gml
cora_full.gml
dolphins.gml
eu-core.gml
eurosis.gml
football.gml
karate.gml
news_2cl_1.gml
news_2cl_2.gml
news_2cl_3.gml
news_3cl_1.gml
news_3cl_2.gml
news_3cl_3.gml
news_5cl_1.gml
news_5cl_2.gml
news_5cl_3.gml
polblogs.gml
polbooks.gml
sp_school_day_1.gml
sp_school_day_2.gml

In [66]:
df = pd.DataFrame(stat)
df

               name  n_nodes  n_edges  n_classes
0                as    23752    58416        176
1          citeseer     3327     4676          6
2              cora     2708     5278          7
3         cora_full    23166    89157         70
4          dolphins       62      159          2
5           eu-core     1005    16706         42
6           eurosis     1285     7524         13
7          football      115      613         12
8            karate       34       78          2
9        news_2cl_1      400    33854          2
10       news_2cl_2      398    21480          2
11       news_2cl_3      399    36527          2
12       news_3cl_1      600    70591          3
13       news_3cl_2      598    68201          3
14       news_3cl_3      595    64169          3
15       news_5cl_1      998   176962          5
16       news_5cl_2      999   164452          5
17       news_5cl_3      997   155618          5
18         polblogs     1490    19025          2
19         polbooks      105      441          3
20  sp_school_day_1      236     5899         11
21  sp_school_day_2      238     5539         11